<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <style>
        .gallery-item {
            margin-bottom: 20px;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        .gallery-item img {
            display: block;
            margin-bottom: 10px;
        }
        .gallery-item p {
            margin: 5px 0;
        }
        .nav {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
    </div>
    <h1>Gallery</h1>
    <ul>
        {% for post in posts %}
            <li class="gallery-item">
                <h2>Imagem {{ post.id }}</h2>
                <img src="data:image/jpeg;base64,{{ post.image }}" alt="Image" width="100">
                <p>Descrição: {{ post.descrip }}</p>
                <p>Horário da postagem: {{ post.action_time | datetime }}</p>
                <form action="{{ url_for('delete_post', id=post.id) }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <form action="{{ url_for('update_post', id=post.id) }}" method="get" style="display:inline;">
                    <button type="submit">Update</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>